{% extends 'base.html' %}

{% block content %}
    <section class="bg-light text-dark text-center shadow mb-20">
        <div class="container p-5 bg-light">
            <div class="row">
                <div class="d-md-flex bg-light align-items-center justify-content-evenly">
                    <h1 class="col text-center">Background and Experiences</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
        <div class="container p-10">
            <div class="row"><br>
                <h3 class="d-md-flex align-items-center justify-content-evenly">Yessica's Background</h3>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac velit nec lorem iaculis tincidunt nec eget nunc. Integer maximus vehicula consequat.</p>
                <ul class="list-group">
                    <li class="list-group-item">Full Stack Developer</li>
                    <li class="list-group-item">3 years of experience</li>
                    <li class="list-group-item">Strong passion for backend development with Flask</li>
                    <li class="list-group-item">1 year of experience as a software engineering instructor</li>
                </ul>
            </div>
            <div class="row" style="margin-top: 20px;">
                 <div class="col-4"></div>
                 <div class="col-3 p-10">
                    <img src="../../static/Images/background_image.jpg" class=" align-items-center justify-content-center p-30 img-fluid" alt="Background Image">
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </section>
{% endblock %}
