{% extends 'base.html' %}

{% block content %}
    <section class="bg-light text-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Portfolio</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{{ url_for('static', filename='images/library.jpg') }}" class="img-fluid" alt="Library Image">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
