{% extends 'base.html' %}

{% block content %}
    <section class="bg-light text-dark text-center shadow mb-20">
        <div class="container p-5 bg-light">
            <div class="row">
                <div class="d-md-flex bg-light align-items-center justify-content-evenly">
                    <h1 class="col text-center">Personal Information</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
        <div class="container p-10">
            <div class="row"><br>
                <h3 class="d-md-flex align-items-center justify-content-evenly">Yessica's details</h3>
                <ul class="list-group">
                    <li class="list-group-item">Name: Yessica Sosa</li>
                    <li class="list-group-item">Email: yessica.sosa@example.com</li>
                    <li class="list-group-item">Role: Full Stack Developer</li>
                    <li class="list-group-item">Experience: 3 years</li>
                    <li class="list-group-item">Passion: Backend (Flask)</li>
                    <li class="list-group-item">Instructor Experience: 1 year</li>
                </ul>
            </div>
            <div class="row" style="margin-top: 20px;">
                 <div class="col-4"></div>
                 <div class="col-3 p-10">
                    <img src="../../static/Images/mikolaj-DCzpr09cTXY-unsplash.jpg" class=" align-items-center justify-content-center p-30 img-fluid" alt="Profile Picture">
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </section>
{% endblock %}
